/**
 * Created by Krzysztof Stec on 13.08.2016.
 */

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*----------------------------
    The file upload form
-----------------------------*/
.box {
    width: 100%;
    font-size: 1.25rem;
    //background-color: #c8dadf;
    background-color: #fafafa;
    position: relative;
    padding: 40px 10px;
}

.box__input, .box label {
    font-size: 20px;
    color: #0f3c4b;
    text-align: center;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
    color: #0f3c4b;
    text-align: center;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
    visibility: hidden;
}

.box.is-uploading .box__uploading, .box.is-success .box__success, .box.is-error .box__error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}

.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
    border: none;
}

.box__button:hover, .box__button:focus {
    background-color: #0f3c4b;
}

.box.has-advanced-upload {
    //background-color: #c8dadf;
    background-color: #fafafa;
    //outline: 2px dashed #92b0b3;
    outline: 2px dashed #dddddd;
    //outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box.box__preview {
    overflow:hidden;
    overflow-y:scroll;
    height: 400px;
}

.box.is-dragover {
    background-color: #a9ff9e;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    //display: inline-block;
    overflow: hidden;
}

.box__file + label * {
    pointer-events: none;
}

.box__file + label:hover strong, .box__file:focus + label strong, .box__file.has-focus + label strong {
    color: #39bfd3;
}

b, strong {
    font-weight: bold;
}